/* .Home{
    width: 100%;
    padding: 2rem 0rem;
    height: 100vh;
    overflow-y: auto;
} */
main{
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}
.Home  button{
    width: fit-content;
    border: none;
    padding: 0.35rem 0.8rem;
    border-radius: 0.2rem;
    color: white;
    font-weight: bolder;
    cursor: pointer;
  }
  nav{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    /* position: fixed;
    top: 0;
    left: 0; */
    border: 1px solid #e4e1e1;

  }
  img{
    width: 100%;
    height: 100%;
  }
  nav .heading,
  nav .admin{
    display: flex;
    align-items: center;
  }
  nav .img{
    width: 2rem;
    height: 2rem;
  }
  nav .admin img{
    border-radius: 50%;
    padding: 0.25rem;
    width: 2rem;
    height: 2rem;
    margin-left: 0.3rem;
    background-color: #f1f1f1;
    border: 1px solid #e4e1e1;

  }
.search{
    margin-left: auto;
    text-align: end;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
}
.search button{
    background-color: #38ef7d;
    padding: 0.65rem 0.8rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    color: white;
}
.search button:hover {
    background: #17cf5e;
    color: white;
  }
.search input{
    padding:0.53rem 0.7rem;
    width: 16rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem  0rem  0rem  0.2rem;
    outline: none;
    border: 1px solid #e4e1e1;
}
table{
    width: 100%;
    margin: auto;
    border: 1px solid #e4e1e1;
  border-collapse: collapse;
}
  .Home table .delete{
    padding: 0.35rem 0.8rem;
    border:  1px solid red;
    color: red;
    background-color: white;
  }
  .Home table .view{
    padding: 0.35rem 0.8rem;
    border:  1px solid #38ef7d;
    color: #38ef7d;
    background-color: white;
  }
 
  .Home table .view:hover {
    background: #17cf5e;
    color: white;
  }

  .Home table .delete:hover {
    background: red;
    color: white;
  }
  tbody tr td {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    padding:0.75rem 1rem;
    border-top: 1px solid #e4e1e1;
    /* border-bottom: 1px solid #e4e1e1; */

  }
  
  thead tr th {
    font-size: 1.2rem;
    color: rgb(0, 0, 0,0.8);
    padding: 0.9rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }
  
  @media (max-width: 927px) {
    main{
        width: 100%;
    }
    .search{
      margin-right: 2rem;
    }
    thead th{
      /* border: 2px dashed red; */
    /* padding: 0.9rem 0rem; */

    }
  
  }
   @media (max-width: 682px) {
    thead tr th {
    padding: 0.9rem 0.3rem;
    }
     tbody tr td {
    padding:0.75rem 0rem;
    padding-left: 0.5em;
  }
  } 
   @media (max-width: 590px) {
      thead tr th {
        font-size: 1.1rem;
        padding: 0.9rem 0rem;
        padding-left: 0.35rem;
      }
     tbody tr td .view{
      margin-right: 0.3rem;
  }
  } 
   @media (max-width: 439px) {
    .search{
      margin-right: 1.2rem;
    }
    .search input{
     width: 14rem;
    }
  } 
   
   @media (max-width: 409px) {
      thead tr th {
        font-size: 1rem;
      }
     tbody tr td {
      font-size: 0.88rem;
     }
     .Home table .delete,
     .Home table .view{
      font-size: 0.73rem;
      padding: 0.35rem 0.35rem;
     }
  } 
  @media (max-width: 341px) {
    .search{
      margin-right: 1rem;
    }
    .search input{
     width: 11.5rem;
    }
    thead tr th {
      font-size: 0.9rem;
    }
   tbody tr td {
    font-size: 0.83rem;
   }
   .Home table .delete,
   .Home table .view{
    font-size: 0.7rem;
    padding: 0.3rem ;
   }
}